*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    background: #004e8d;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}
.layout {
    display: flex;
    min-height: 100vh;
}
.Container label{
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}
.menu-lateral {
  background-color: #001529;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.ant-btn{
    width: 100%;
    height: 40px;
    font-size: 16px;
}
.ant-form-item{
    margin-bottom: 25px;
   
}
.ant-table {
    
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
    background: black;
    color: white;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;

}

thead {
    background-color: #1f2937;
    color: white;
}

th,
td {
    padding: 14px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #e5e7eb;
}





